# vscode
.vscode 
*.iml

# Intellij
.idea

# npm
/node_modules/**

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

.hotreload

.conductor/

coverage

# Exclude the build directory
build

# Exclude the dist directory
dist

# Exclude the .yarn directory
.yarn

# Exclude the .yarnrc.yml file
.yarnrc.yml

# Exclude the .yarn-integrity file
.yarn-integrity

# Exclude the .eslintcache file
.eslintcache
!/.hotreload

.cache
